<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headfile">
</head>
<body>
<nav th:include="navigation :: navigation"></nav>
<div class="col s12 m10 l10">
    <div th:include="side_menu :: sidemenu">

    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div style="width:75%;">
        <canvas id="canvas"></canvas>
    </div>
    <script th:inline="javascript" th:each="data : ${chartData}">
        var timeFormat = 'YYYY-MM-DD HH:mm:ss';
        var color = Chart.helpers.color;
        var config = {
            type: 'line',
            scaleSteps: 1,
            scaleStepWidth: 10,
            data: {
                datasets: [{
                    label: "Crash",
                    backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
                    borderColor: window.chartColors.green,
                    fill: false,
                    data: [
                        {
                            x: /*[[${data.getTime()}]]*/,
                            y: /*[[${data.getCount()}]]*/
                        },
                    ]
                }]
            },
            options: {
                title: {
                    text: "Crash Count"
                },
                scales: {
                    xAxes: [{
                        type: "time",
                        time: {
                            format: timeFormat,
                            tooltipFormat: 'YYYY-MM-DD HH:mm:ss'
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Crash'
                        }
                    }]
                }
            }
        };
        window.onload = function () {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };
    </script>

    <h2 class="sub-header">Crash Data</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Crash Time</td>
                <td th:text="${time}"></td>
            </tr>
            <tr>
                <td>Android Version</td>
                <td th:text="${crash[0].getAndroidVersion()}"></td>
            </tr>
            <tr>
                <td>APP Version Code</td>
                <td th:text="${crash[0].getAppVersionCode()}"></td>
            </tr>
            <tr>
                <td>APP Version Name</td>
                <td th:text="${crash[0].getAppVersionName()}"></td>
            </tr>
            <tr>
                <td>Available Memory Size</td>
                <td th:text="${crash[0].getAvailableMemorySize()}"></td>
            </tr>
            <tr>
                <td>Brand</td>
                <td th:text="${crash[0].getBrand()}"></td>
            </tr>
            <tr>
                <td>Display Size</td>
                <td th:text="${realSize[0]} + ' X ' + ${realSize[1]}"></td>
            </tr>
            <tr>
                <td>Rotation</td>
                <td th:text="${rotation}"></td>
            </tr>
            <tr>
                <td>BootLoader</td>
                <td th:text="${bootLoader}"></td>
            </tr>
            <tr>
                <td>Build Brand</td>
                <td th:text="${buildBrand}"></td>
            </tr>
            <tr>
                <td>CPU_ABI</td>
                <td th:text="${CPU_ABI}"></td>
            </tr>
            <tr>
                <td>CPU_ABI2</td>
                <td th:text="${CPU_ABI2}"></td>
            </tr>
            <tr>
                <td>Display Firmware</td>
                <td th:text="${buildDisplay}"></td>
            </tr>
            <tr>
                <td>TWRP</td>
                <td th:text="${TWRP}"></td>
            </tr>
            <tr>
                <td>Model</td>
                <td th:text="${model}"></td>
            </tr>
            <tr>
                <td>MainBoard</td>
                <td th:text="${board}"></td>
            </tr>
            <tr>
                <td>Device Features</td>
                <td>
                    <p th:each="item : ${deviceFeatures}" th:text="${item}"></p>
                </td>
            </tr>
            <tr>
                <td>Logcat</td>
                <td>
                    <pre th:text="${crash[0].getLogcat()}"></pre>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>