<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headfile">
</head>
<body>
<nav th:include="navigation :: navigation"></nav>

<div class="col s12 m10 l10">
    <div th:include="side_menu :: sidemenu">

    </div>
</div>
<div class="col s12 m10 l10">
    <div th:include="main :: mainpage">

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>