<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headfile">
</head>
<body>
<div th:replace="navigation :: navigation"></div>

<div class="col s12 m10 l10">
    <div th:replace="side_menu :: sidemenu">

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <h1>Dashboard</h1>

            <div class="jumbotron">
                <h1>Android Log Data Viewer</h1>
                <hr class="my-4"/>
                <p>안드로이드 로그 데이터와 메모리 관리를 위한 페이지</p>
            </div>
            <div class="col-6 col-sm-3 placeholder">
                <div class="row">
                    <div class="card" th:each="item : ${packageName}">
                        <div class="card-block">
                            <h3 th:text="${item}"/>
                            <p th:text="'로그 데이터 갯수 : ' + ${summaryData.get(item).getLogDataCount()}"/>
                            <p th:text="'최근 크래쉬 데이터 : ' + ${summaryData.get(item).getRecentCrashTime()}"/>
                            <p><a th:href="@{/logdatapackagenamefilter/query(packageName=${item})}"
                                  class="btn btn-primary"
                                  role="button">Show</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>