<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="head :: headfile">
</head>
<body>
<nav th:fragment="navigation"
     class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"/>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Dash Board</a></li>
            <li class="nav-item"><a class="nav-link" href="/logdata">Log Data</a></li>
            <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
            <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href="/registration">Registration</a>
            </li>
        </ul>
        <!--<form class="form-inline mt-2 mt-md-0">-->
        <!--<input class="form-control mr-sm-2" type="text" placeholder="Search"/>-->
        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
    </div>
</nav>
</body>
</html>