<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headfile">
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<div class="col s12 m10 l10">
    <div th:replace="side_menu :: sidemenu">

    </div>
</div>
<div th:fragment="registration">
    <div class="container-fluid">
        <div class="row">
            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <div th:if="${sameID} == true" class="alert alert-danger" role="alert">이미 존재하는 아이디 입니다!</div>
                <form class="signup-form" action="/registration" method="POST">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="card" style="width: 50%">
                        <div class="card-header">
                            <h3>Registration</h3>
                        </div>
                        <div class="card-block">
                            <div class="input-group">
                                <span class="input-group-addon" id="username">UserID</span>
                                <input type="text" name="username" class="form-control" placeholder="Username"
                                       aria-describedby="basic-addon1"/>
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon" id="password">Password</span>
                                <input type="password" name="password" class="form-control" placeholder="Password"
                                       aria-describedby="basic-addon1"/>
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-primary">Registration</button>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
</body>
</html>
