<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headfile">
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
        </nav>
    </div>
</div>
<div th:fragment="mypage">
    <div class="container-fluid">
        <div class="row">
            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <h1>My Page</h1>

                <div class="card" style="width: 50%; margin-bottom: 1%">
                    <div class="card-header">
                        <h3>User</h3>
                    </div>
                    <div class="card-block">
                        <div class="input-group">
                            <span class="input-group-addon">API Key</span>
                            <input type="text" th:readonly="true" class="form-control" th:value="${apikey}"/>
                        </div>
                    </div>
                </div>

                <div class="card" style="width: 50%; margin-bottom: 1%">
                    <div class="card-header">
                        <h3>Crash Information</h3>
                    </div>
                    <div id="container" style="width: 75%;">
                        <canvas id="canvas"/>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var color = Chart.helpers.color;
    var barChartData = {
        labels: /*[[${crashList.keySet()}]]*/,
        datasets: [{
            label: 'Crash Count',
            backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
            borderColor: window.chartColors.red,
            borderWidth: 1,
            data: /*[[${crashList.values()}]]*/
        }]
    };

    window.onload = function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Crash Information'
                },
                scales: {
                    yAxes: [{
                        stacked: true,
                        gridLines: {
                            display: true,
                            color: "rgba(255,99,132,0.2)"
                        },
                        ticks: {
                            min: 0,
                            callback: function (value, index, values) {
                                if (Math.floor(value) === value) {
                                    return value;
                                }
                            }
                        }
                    }]
                }
            }
        });
    };
    /*]]>*/
</script>
</body>
</html>
