<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="head :: headfile">
</head>
<body>
<nav th:fragment="navigation"
     class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"/>
    </button>
    <a class="navbar-brand" href="/">Dashboard</a>

    <div class="collapse navbar-collapse justify-content-md-end" id="navbarsExampleDefault">
        <ul class="navbar-nav">
            <!--<li class="nav-item"><a class="nav-link" href="/crash">Crash Data</a></li>-->
            <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href="/registration">Registration</a></li>
            <li sec:authorize="hasRole('ROLE_USER')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   th:text="'PackageName'"/>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown03">
                    <a class="dropdown-item" th:each="item : ${packageNameList}" th:href="@{/main/query(packageName=${item})}" th:text="${item}"/>
                </div>
            </li>
            <li sec:authorize="hasRole('ROLE_USER')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   sec:authentication="name"/>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="/mypage" th:text="'My Page'"/>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout" th:text="Logout"/>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
        </ul>
    </div>
</nav>
</body>
</html>