<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headfile">
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<div th:fragment="sidemenu">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                <ul class="nav nav-pills flex-column">
                    <div class="container-fluid">
                        <div class="row">
                            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item">
                                        <!--<a class="dropdown-item" th:text="'Log Data'"-->
                                           <!--th:href="@{http://localhost:8080/crash/filter/packagename/query(packageName=${item})}"/>-->
                                        <a th:if="${packageName} != null" class="nav-link" th:text="'Log Data'"
                                           th:href="@{http://localhost:8080/logdata/filter/packagename/query(packageName=${packageName})}"/>
                                    </li>
                                    <li class="nav-item">
                                        <!--<a class="dropdown-item" th:text="'Crash Report'"-->
                                           <!--th:href="@{http://localhost:8080/crash/filter/packagename/query(packageName=${item})}"/>-->
                                        <a th:if="${packageName} != null" class="nav-link" th:text="'Crash Report'"
                                           th:href="@{http://localhost:8080/crash/filter/packagename/query(packageName=${packageName})}"/>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>