<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headfile">
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<div th:replace="side_menu :: sidemenu"></div>
<div th:fragment="mypage">
    <div class="container-fluid">
        <div class="row">
            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <h1>My Page</h1>

                <form>
                    <div class="card" style="width: 50%">
                        <div class="card-header">
                            <h3>User</h3>
                        </div>
                        <div class="card-block">
                            <div class="input-group">
                                <span class="input-group-addon">API Key</span>
                                <input type="text" th:readonly="true" class="form-control" th:value="${apikey}"/>
                            </div>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
</body>
</html>
