<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headfile">
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
        </nav>
    </div>
</div>
<div th:fragment="mypage">
    <div class="container-fluid">
        <div class="row">
            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <h1>My Page</h1>

                <div class="card" style="width: 50%; margin-bottom: 1%">
                    <div class="card-header">
                        <h3>User</h3>
                    </div>
                    <div class="card-block">
                        <div class="input-group">
                            <span class="input-group-addon">API Key</span>
                            <input type="text" th:readonly="true" class="form-control" th:value="${apikey}"/>
                        </div>
                    </div>
                </div>

                <div class="card" style="width: 50%; margin-bottom: 1%">
                    <div class="card-header">
                        <h3>Crash List</h3>
                    </div>
                    <div class="card-block">
                        <h5 th:each="item : ${crashList}" th:text="${item}"/>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>
