<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headfile">
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<div th:fragment="sidemenu">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a class="nav-link" href="/">Dash Board</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logdata">Log Data</a></li>
                    <li class="nav-item"><a class="nav-link" href="/crash">Crash Data</a></li>
                </ul>

                <div>
                    <ul class="nav nav-pills flex-column" id="packageNameList"></ul>
                </div>
            </nav>
        </div>
    </div>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/packagenamedatalist',
                dataType: "json",
                cache: false,
                success: function (data) {
                    $.each(data.logData, function (index, value) {
                        const text = '<li class="nav-item"><a class="nav-link" href="/logdatapackagenamefilter/query?packageName=' + value + '">' + value + '</a></li>';
                        encodeURI(text);
                        $("#packageNameList").append(text);
                    });
                },
                error: function (data) {
                    console.log("error");
                }
            });
        });
    </script>
</div>
</body>
</html>